TMB_APP_ID=test
TMB_APP_KEY=test
POSTGRES_DB=ci-test
POSTGRES_USER=ci-test
POSTGRES_PASSWORD=ci-test
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
MINIO_ROOT_USER=ci-test
MINIO_ROOT_PASSWORD=ci-test
AIRFLOW__API_AUTH__JWT_SECRET=ci-test
AIRFLOW__API__SECRET_KEY=ci-test
URBANFLOW_BASE_DIR=/app
MINIO_ENDPOINT=minio:9000
MINIO_BUCKET=urbanflow
OLLAMA_MODEL=llama3.2
LANGSMITH_API_KEY=test
